<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.glvz.egais">

    <uses-sdk
            android:minSdkVersion="16"
            android:targetSdkVersion="17" />

    <uses-permission android:name="com.honeywell.decode.permission.DECODE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.DELETE_PACKAGES" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false"></uses-feature>

    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:icon="@drawable/app_icon"
            android:name=".MainApp">

        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/paths"/>
        </provider>

        <activity android:name=".ui.ActWelcome"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.ActChooseShop" android:screenOrientation="portrait"/>
        <activity android:name=".ui.ActMainMenu" android:screenOrientation="portrait"/>
        <activity android:name=".ui.doc.income.ActIncomeList" android:screenOrientation="portrait"/>
        <activity android:name=".ui.doc.income.alco.ActIncomeAlcoRec" android:screenOrientation="portrait"/>
        <activity android:name=".ui.doc.income.alco.ActIncomeAlcoRecContent" android:screenOrientation="portrait"/>
        <activity android:name=".ui.doc.income.ciga.ActIncomeCigaRec" android:screenOrientation="portrait"/>
        <activity android:name=".ui.doc.income.ciga.ActIncomeCigaRecContent" android:screenOrientation="portrait"/>
        <activity android:name=".ui.ActDummy" android:screenOrientation="portrait"/>
        <activity android:name=".ui.doc.income.alco.ActIncomeAlcoRecContentChangeNomen" android:screenOrientation="portrait"/>

        <activity android:name=".ui.doc.move.ActMoveList" android:screenOrientation="portrait"/>
        <activity android:name=".ui.doc.move.ActMoveRec" android:screenOrientation="portrait"/>
        <activity android:name=".ui.doc.move.ActMoveRecContent" android:screenOrientation="portrait"/>

        <activity android:name=".ui.doc.writeoff.ActWriteoffList" android:screenOrientation="portrait"/>
        <activity android:name=".ui.doc.writeoff.ActWriteoffRec" android:screenOrientation="portrait"/>

        <activity android:name=".ui.doc.checkmark.ActCheckMarkList" android:screenOrientation="portrait"/>
        <activity android:name=".ui.doc.checkmark.ActCheckMarkRec" android:screenOrientation="portrait"/>

        <activity android:name=".ui.doc.findmark.ActFindMarkList" android:screenOrientation="portrait"/>
        <activity android:name=".ui.doc.findmark.ActFindMarkRec" android:screenOrientation="portrait"/>

        <activity android:name=".ui.doc.inv.ActInvList" android:screenOrientation="portrait"/>
        <activity android:name=".ui.doc.inv.ActInvRec" android:screenOrientation="portrait"/>
        <activity android:name=".ui.doc.inv.ActInvRecContent" android:screenOrientation="portrait"/>
        <activity android:name=".ui.doc.inv.ActInvRecDiff" android:screenOrientation="portrait"/>

        <activity android:name=".ui.doc.photo.ActPhotoList" android:screenOrientation="portrait"/>

        <activity android:name=".ui.ActEnterNomenId"
                  android:windowSoftInputMode="stateVisible|adjustResize"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ui.ActCommentEdit"
                  android:windowSoftInputMode="stateVisible|adjustResize"
                  android:screenOrientation="portrait"/>

    </application>

</manifest>